body {
  width: 1150px;
  margin: 20px auto;
}

.clear {
  clear: both;
}

.wall {
  float: left;
  width: 830px;
}
.pager {
  float: left;
}

.breadcrumb {
  float: left;
  margin: 18px 0 0 5px;
  display: inline-block;
}