<!doctype html>
<html lang="en" ng-app="Galery">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/carusel_images.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body ng-controller="GaleryCtrl" ng-cloak>
  <div class="well" ng-show='loader'>
    <form class="form-search" ng-submit="searchPhotos()">
      <div class="input-append">
        <input type="text" class="span3 search-query" maxlength="10" ng-model='search'>
        <button type="submit" class="btn btn-primary">Найти</button>
      </div>
      <img ng-show='ajax_loading' src="img/ajax_loader.gif" width="25px">
    </form>
    <div class="carousel">
      <div class="row-fluid">
        <div ng-repeat="photo in photos" class="span3">
          <a href="#" class="thumbnail" ng-click='addToFile(photo)'>
            <img class='carousel_img_$index' ng-src="{{photo}}" width='231px' alt="Image" />
          </a>
        </div>
        <a ng-click="rotateCarusel('left')" disabled="{{isDisabled}}" ng-show="isDisabled" class="left carousel-control" href="#" data-slide="prev">‹</a>
        <a ng-click="rotateCarusel('right')" class="right carousel-control" href="#" data-slide="next">›</a>
      </div>
    </div>
  </div>

  <div class="well" ng-hide='loader'>
    <form class="form-search" ng-submit="searchPhotos()">
      <div class="input-append">
        <input type="text" class="span3 search-query" maxlength="10" ng-model='search'>
        <button type="submit" class="btn btn-primary">Найти</button>
      </div>
    </form>
    <div class="carousel">
      <div class="row-fluid">
        <div class="span3"><a href="#" class="thumbnail"><img class='carousel_img_0' src="http://placehold.it/250x250" width='231px' alt="Image" /></a></div>
        <div class="span3"><a href="#" class="thumbnail"><img class='carousel_img_1' src="http://placehold.it/250x250" width='231px' alt="Image" /></a></div>
        <div class="span3"><a href="#" class="thumbnail"><img class='carousel_img_2' src="http://placehold.it/250x250" width='231px' alt="Image" /></a></div>
        <div class="span3"><a href="#" class="thumbnail"><img class='carousel_img_3' src="http://placehold.it/250x250" width='231px' alt="Image" /></a></div>
      </div>
      <a class="left carousel-control" href="#" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#" data-slide="next">›</a>
    </div>
  </div>

  <div class="wall">
    <div class="well">
      <ul class="pager">
        <li>
          <a ng-click="breadCrumbsBack(); $event.stopPropagation(); $event.preventDefault();" href="#">&larr; Назад</a>
        </li>
      </ul>
      <ul class="breadcrumb">
        <li><a ng-click='chageFolder(0)' href="#">Home</a></li>
        <li ng-repeat="crumb in breadcrumbs" ng-class="{active: $last}" >
          <span class='divider'>/</span><!-- &#9658; -->
          <a ng-if="!$last" ng-click='chageFolder(crumb.id)' href="#">{{crumb.name}}</a>
          <span ng-if="$last">{{crumb.name}}</span>
        </li>
      </ul>
      <ul class="pager">
        <li>
          <a ng-click='addFolder()' href="#">Add folder <b>+</b></a>
        </li>
      </ul>
      <div class="clear"></div>
    <!-- <h1>{{parent_id}}</h1> -->
    <!-- <h1>{{breadcrumbs}}</h1> -->
      <div class="main">
        <div ng-repeat="folder in desctop | filter:{ 'type':'folder', 'parent': parent_id } track by $index"
             ng-click='chageFolder(folder.id)'
             class="btn_folder thumbnail" type="button">
          <div class='name_wrapper' ng-hide='folder.editing'>
            <div class="name">{{folder.name}}</div>
            <div class="clear"></div>
            <button ng-click="editFolderName(folder.id, true); $event.stopPropagation(); $event.preventDefault();" class="btn btn-mini btn-warning" type="button"> # </button>
            <button ng-click="removeFolder(folder); $event.stopPropagation(); $event.preventDefault();" class="btn btn-mini btn-danger" type="button"> # </button>
          </div>
          <div ng-show='folder.editing'>
            <input maxlength="10" type="text" ng-model="folder.name" ng-click='$event.stopPropagation(); $event.preventDefault();' todo-focus="folder.editing">
            <div class="clear"></div>
            <button ng-click="editFolderName(folder.id, false); $event.stopPropagation(); $event.preventDefault();" class="btn btn-mini btn-success" type="button"> # </button>
          </div>
        </div>

        <div ng-repeat="file in desctop | filter:{ 'type':'file',   'parent': parent_id } track by $index" class="span2">
          <a ng-click="showImage(file); $event.stopPropagation(); $event.preventDefault();" href="#" class="thumbnail img_in_folder">
            <img ng-src="{{file.src}}" alt="Image" />
            <div>{{ file.name }}</div>
            <button ng-click="removeFile(file); $event.stopPropagation(); $event.preventDefault();" class="btn btn-mini btn-danger delete_img" type="button"> # </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="right_column" ng-show='openedImage'>
    <div class="well">
      <div class="description">
        <div class="span3"><a href="#" class="thumbnail"><img ng-src="{{openedImage.src}}" width="230px" alt="Image" /></a></div>
        <div class="title">{{openedImage.name}}</div>
        <div class='definition'>Add date:</div>
        <div>2013-09-23 13:22:59 +0300</div>
        <button class="btn btn-large btn-block btn-primary" type="button">Download</button>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <button class="btn btn-large btn-primary" type="button">Load from JSON</button>
  <button class="btn btn-large btn-primary" type="button">Export to JSON</button>
  <div class="clear"></div>
  <textarea class="text_area" rows="4" placeholder='Dropdown with textarea for import/export of JSON folders structure'></textarea>


  <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
  <script src="http://code.angularjs.org/1.2.0-rc.2/angular-resource.min.js"></script>
  <script src="http://code.angularjs.org/1.2.0-rc.2/angular-route.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
